.login-menu {
  display: fixed;
  width: 300px;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;

  .avatar {
    display: flex;    
    align-items: center;    
    right: 0;
    margin-left: 275px;

    button {
      display: flex;
      width: 100px;
      background-color: transparent;
    }
  } 
}

#demo-customized-menu { 
  .menu-item {
    width: 100%;

    .menu-link {
      display: flex;
      gap: 30px;
      justify-content: center;
      flex-wrap: nowrap;
      flex-direction: row;
    }
  }
}