.modal {

  .MuiBackdrop-root {
    background-color: $text-color;
    opacity: 0.9 !important;
  }

  .modal-box {
    width: 400px;
    background-color: $light;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    margin: 0px auto;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    form {
      .form-group {
        .coin {
          color: $primary;
        }

        .synch {
          color: $text-color;
        }

        button {
          background: $primary;
          border-radius: 32px;
        }        
      }
    }

    .login-modal {
      h5 {
        text-align: center;
      }
    }    
  }
}