.modal {

  .MuiBackdrop-root {
    background-color: $text-color;
    opacity: 0.9 !important;
  }

  .modal-box {
    width: 400px;
    background-color: $light;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    margin: 0px auto;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    .coin {
      color: $primary;
    }

    .synch {
      color: $text-color;
    }

    .close {
      width: 100%;
      text-align: right;      

      button {
        background: transparent;
        border: none;
        cursor: pointer;

        svg {
          color: $text-color;
        }
      }
    }

    form {
      .form-group { 
        button {
          background: $primary;
          border-radius: 32px;
        }    

        a {
          text-align: right;
        }
        
        input[type="password"] {          
          height: 38px;
          border-right: none;
        }

        .submit {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 14px 24px;
          gap: 10px;
          border-radius: 32px;
        }

        .MuiFormControlLabel-root {
          margin: 0px;

          .MuiSvgIcon-root {
            color: $primary;
          }
        }
      }
    }

    .login-modal {
      display: flex;
      gap: 30px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      h5 {
        text-align: center;
      }
    } 
    
    .register-modal {
      display: flex;
      gap: 30px;
      flex-direction: column;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      h5 {
        text-align: center;
      }
    }
  }
}