/** Variables **/

/** primary **/
$primary: #FBAB34;
$primary-rgb: 251,171,52;
$primary-contrast: #000000;
$primary-contrast-rgb: 0,0,0;
$primary-shade: #dd962e;
$primary-tint: #fbb348;

$primary-step-100: #FFF6E8;
$primary-step-200: #FFE1B5;
$primary-step-300: #FFCD82;
$primary-step-400: #FFB94F;
$primary-step-500: #FBAB34;
$primary-step-600: #E09422;
$primary-step-700: #AD721A;
$primary-step-800: #7A4E0C;
$primary-step-900: #472C04;

/** secondary **/
$secondary: #8C8A97;
$secondary-rgb: 140,138,151;
$secondary-contrast: #000000;
$secondary-contrast-rgb: 0,0,0;
$secondary-shade: #7b7985;
$secondary-tint: #9896a1;

$secondary-step-100: #F6F6F6;
$secondary-step-200: #F4F3F8;
$secondary-step-300: #E0DEEA;
$secondary-step-400: #ACABB7;
$secondary-step-500: #8C8A97;
$secondary-step-600: #716F7A;
$secondary-step-700: #5F5C6B;
$secondary-step-800: #4E4B59;
$secondary-step-900: #33303E;

/** tertiary **/
$tertiary: #1BD171;
$tertiary-rgb: 27,209,113;
$tertiary-contrast: #000000;
$tertiary-contrast-rgb: 0,0,0;
$tertiary-shade: #18b863;
$tertiary-tint: #32d67f;

$tertiary-step-100: #E8FAF1;
$tertiary-step-200: #D1F6E3;
$tertiary-step-300: #A4EDC6;
$tertiary-step-400: #8DE8B8;
$tertiary-step-500: #1BD171;
$tertiary-step-600: #18B863;
$tertiary-step-700: #149E55;
$tertiary-step-800: #0E6B3A;
$tertiary-step-900: #07381E;

/** tertiary **/
$quartenary: #EC3237;
$quartenary-rgb: 236,50,55;
$quartenary-contrast: #ffffff;
$quartenary-contrast-rgb: 255,255,255;
$quartenary-shade: #d02c30;
$quartenary-tint: #ee474b;

$quartenary-step-100: #FFF2F3;
$quartenary-step-200: #FFCFD0;
$quartenary-step-300: #FF9497;
$quartenary-step-400: #FA7D80;
$quartenary-step-500: #EC3237;
$quartenary-step-600: #D42D31;
$quartenary-step-700: #A12226;
$quartenary-step-800: #6E171A;
$quartenary-step-900: #3B0C0E;

/** success **/
$success: #1BD171;
$success-rgb: 27,209,113;
$success-contrast: #000000;
$success-contrast-rgb: 0,0,0;
$success-shade: #18b863;
$success-tint: #32d67f;

/** warning **/
$warning: #FBAB34;
$warning-rgb: 251,171,52;
$warning-contrast: #000000;
$warning-contrast-rgb: 0,0,0;
$warning-shade: #dd962e;
$warning-tint: #fbb348;

/** danger **/
$danger: #EC3237;
$danger-rgb: 236,50,55;
$danger-contrast: #ffffff;
$danger-contrast-rgb: 255,255,255;
$danger-shade: #d02c30;
$danger-tint: #ee474b;

/** dark **/
$dark: #000000;
$dark-rgb: 0,0,0;
$dark-contrast: #ffffff;
$dark-contrast-rgb: 255,255,255;
$dark-shade: #000000;
$dark-tint: #1a1a1a;

/** medium **/
$medium: #5D6670;
$medium-rgb: 93,102,112;
$medium-contrast: #ffffff;
$medium-contrast-rgb: 255,255,255;
$medium-shade: #525a63;
$medium-tint: #6d757e;

/** light **/
$light: #ffffff;
$light-rgb: 255,255,255;
$light-contrast: #000000;
$light-contrast-rgb: 0,0,0;
$light-shade: #e0e0e0;
$light-tint: #ffffff;

/** text-base **/
$text-color: #5D6670; 